.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
  background-color: #000000; 
  color: #ffffff;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
